<div class="row pt-2">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-secondary text-white">
                Department List
            </div>

            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Name</th>
                            <th>Logo</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        @for (item of deptList; track $index) {
                        <tr>
                            <td>{{$index+1}}</td>
                            <td>{{item.departmentName}}</td>
                            <td>{{item.departmentLogo}}</td>
                            
                        </tr>
                        }
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-header bg-secondary text-white">
                New Department
            </div>

            <div class="card-body">
                <div class="mb-3">
                    <label>Department Name</label>
                    <input type="text" [(ngModel)]="deptObj.departmentName" class="form-control" placeholder="Enter Name">
                </div>

                <div class="mb-3">
                    <label>Department Logo</label>
                    <input type="text" [(ngModel)]="deptObj.departmentLogo" class="form-control" placeholder="Enter Logo URL">
                </div>

                <div class="row">
                    <div class="col-6 text-center">
                        <button class="btn btn-secondary">
                            Reset
                        </button>
                    </div>

                    <div class="col-6 text-center">
                        <button class="btn btn-success" (click)="onSave()">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>